page-profile {
    img.profileimage {
        width: 100%;
        max-width: 100%;
    }
    ion-card-header.profilename {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: darkcyan;
    }
}
