page-homeslider {
    ion-toolbar.hmsit.toolbar.toolbar-md {
        background-color: #fff;
        height: 10px;
    }
    ion-toolbar.hmsit .toolbar-background.toolbar-background-md {
        background-color: #fff;
        height: 20px;
    }
    img.slide-image {
        /* height: 2%; */
        width: 60%;
    }
    h2.slide-title.slidettl1 {
        color: #fff;
    }
    p.slidep1 {
        color: #fff;
    }
}
