page-categories {
    p.pcat {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
        font-family: sans-serif;
    }
    .nocats {
        height: 100%;
    }
    img.ncimg {
        margin-top: 20%;
        padding: 5%;
        opacity: 0.5;
    }
}
