page-signup {
    img.titleImg {
        width: 15%;
        margin: 2%;
    }
    div.divl {
        background-color: #0372b2;
        height: 10%;
        text-align: center;
        vertical-align: middle;
    }

    /*logincontent*/
    /*ion-content.logincontent.content.content-md {
        background-image: url(../../assets/images/bg5.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    ion-item.itmeml, ion-item.itmpass {
        opacity: 0.8;
        color: darkblue;
        font-size: 20px;
        border-radius: 30px;
        margin-top: 2%;
    }
    ion-col.iam {
        font-size: 20px;
        font-style: normal;
        font-family: monospace;
        font-weight: 600;
    }*/
    /*img.vendor, img.user {
        background-color: floralwhite;
        padding: 15px;
        border-radius: 40px;
    }*/
    button.itmbtnlogin {
        max-width: 100%;
        /*width: 80%;*/
        margin-top: 5%;
    }
    ion-col.iam.col {
        margin-top: 5%;
    }
    ion-list.rgpgender ion-list-header.rgpil {
        border-color: transparent;
    }
}
/*div.divl {
    background-color: #0372b2;
    height: 10%;
    text-align: center;
    vertical-align: middle;
}
img.titleImg {
    width: 15%;
    margin: 2%;
}*/